<div class="row">
  <div class="col-md-6 offset-md-3">
    <h2>Add a new book</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-6 offset-md-3">
    <form class="" action="/books" method="post">
      <div class="form-group">
        <label for="title">Title</label>
        <input class="form-control" type="text" name="title" placeholder="Top Tips">
      </div>
      <div class="form-group">
        <label for="author">Author</label>
        <input class="form-control" type="text" name="author" placeholder="James May">
      </div>
      <div class="form-group">
        <label for="book-cover">Book cover</label>
        <input class="form-control" type="text" name="book-cover" placeholder="cover-image.jpg">
      </div>
      <button type="submit" class="btn btn-primary">Add</button>
    </form>
  </div>
</div>
